#!/usr/bin/env php
<?php

if (!ini_get('date.timezone')) {
    ini_set('date.timezone', 'UTC');
}

// Set to your own, or use https://github.com/wikimedia/mediawiki-vagrant
define('MEDIAWIKI_API_ORIGIN', 'http://127.0.0.1:8080');

require_once __DIR__ . '/../vendor/autoload.php';

/**
 * Transformation Rules test run
 */

use \WebPlatform\ContentConverter\Tests\PagesFixture;
use \WebPlatform\ContentConverter\Converter\MediaWikiToHtml;
use \WebPlatform\ContentConverter\Model\MediaWikiDocument;
use \WebPlatform\ContentConverter\Persistency\GitCommitFileRevision;

$fixture = new PagesFixture;


// https://gist.github.com/renoirb/43f2b9d6d04ae8c770cf/edit
// first is 3
// japanese is 4
$xml = $fixture->getXml();
$wikiPageXmlElement = $xml->page[3];

$wikiDocument = new MediaWikiDocument($wikiPageXmlElement);
$wikiRevision = $wikiDocument->getLatest();

$persistable = new GitCommitFileRevision($wikiDocument);
$persistable->setRevision($wikiRevision);

/*
  * Your MediaWiki API URL
  */
$apiUrl  = MEDIAWIKI_API_ORIGIN.'/w/api.php?format=json&action=parse&prop=text|links|templates|';
$apiUrl .= 'images|externallinks|categories|sections|headitems|displaytitle|iwlinks|properties&pst=1';
$apiUrl .= '&disabletoc=true&disablepp=true&disableeditsection=true&preview=true&page=';

$converter = new MediaWikiToHtml;
$converter->setApiUrl($apiUrl);
$markdownRevision = $converter->apply($wikiRevision);

$title = $wikiDocument->getTitle();
$normalized_location = $wikiDocument->getName();
$file_path  = $persistable->getName();

echo(sprintf('"%s":', $title).PHP_EOL);
echo(sprintf('  - normalized: %s', $normalized_location).PHP_EOL);
echo(sprintf('  - file: %s', $file_path).PHP_EOL);
echo PHP_EOL.'Document contents'.PHP_EOL;

echo($markdownRevision->getContent());
