#!/usr/bin/env php
<?php

if (!ini_get('date.timezone')) {
    ini_set('date.timezone', 'UTC');
}

require_once __DIR__ . '/../vendor/autoload.php';

/**
 * Transformation Rules test run
 */

use \WebPlatform\ContentConverter\Tests\PagesFixture;
use \WebPlatform\ContentConverter\Converter\MediaWikiToMarkdown;
use \WebPlatform\ContentConverter\Model\MediaWikiDocument;
use \WebPlatform\ContentConverter\Persistency\FileGitCommit;

$converter = new MediaWikiToMarkdown;
$fixture = new PagesFixture;


// https://gist.github.com/renoirb/43f2b9d6d04ae8c770cf/edit
// first is 3
// japanese is 4
$xml = $fixture->getXml();
$wikiPageXmlElement = $xml->page[3];

$wikiDocument = new MediaWikiDocument($wikiPageXmlElement);
$wikiRevision = $wikiDocument->getLatest();
$markdownRevision = $converter->apply($wikiRevision);

$file = new FileGitCommit($markdownRevision);
$file->setFileName(MediaWikiDocument::toFileName($wikiDocument->getTitle()));

$file->persist();

var_dump($markdownRevision->getContent());
